/*
element {

}

.class {

}

#id {

}

*/

h5 { /*element*/
    color: blue;
    border: 1px solid black;
}

.border_red { /*class="border_red"*/
    border: 2px dotted red;
}

#p { /*id = "p"*/
    text-decoration: underline;
    color: purple;
}

#h1_id { /*id*/
    color: red;
    text-decoration: underline;
}

.h1_class { /*class*/
    color: blue;
    border: 3px solid blue;
}

p strong { /*strong that is inside a paragraph*/
   text-transform: uppercase; 
}

.container > p { /*direct descendent*/
    color: aqua;
}

h2.border_red { /*the element that is h2 AND has class border_red*/
    color:blueviolet;
}

input[type="text"] {
    width: 400px;
}

input[type="number"] {
    height: 45px;
}

input, textarea { /*for both inputs and textareas*/
    border: 3px solid magenta;
}

/*TEXT*/
#text_properties {
    text-align: center; /*left, right, center, justify*/
    text-decoration: underline; /*underline, line-through, none, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /*normal, bold, light, 100, 200, 300, 900*/
    font-size: 35px; /*px pt vh vw*/
}

/*SIZE*/
#size_properties {
    background-color: gray;
    width: 400px;
    height: 50px;
}

/*BACKGROUND*/
#background_properties {
    width: 400px;
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url("../images/gatito_small.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

